*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*ENCABEZADO*/
.encabezado{
    display: flex;
    background-image: url(../images/fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    padding: 4% 0;
    width: 100%;
    position: relative;
}

.logoencabezado{
    width: 40%;
    height: auto;
    text-align: center;    
}

/*BOTON DE LA TABLA (EDITAR Y BORRAR)*/
td.excepcion button{
    width: 80px;
    height: 35px;
    background-color: rgb(241, 239, 239);
    border: solid 1px rgb(230, 230, 230);
}

button a{
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-weight: normal;
    text-transform: uppercase;
}

/*BARRA DE NAVEGACIÓN*/
li a, p.label a{
    text-decoration: none;
    color: black;
    font-size: 8px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    height: 100%;
}

.botoneratexto{
    text-align: center;
}

.menu{
    width: 100%;
    display: flex;
}

.menu li {
    display: inline-block;
    width:34%;
}

.menu li:hover{
    background-color: rgb(211, 211, 211);
}

/*PIE DE LA PÁGINA*/
.contenedortarjetas{
    background-image: url(../images/fondomármolnegro.jpg);
}

.tarjetas{
    margin: auto;
    width: 80%;
    height: 80%;
}

.icontarjetas{
    width: 4%;
    height: 2%;
    padding: 1%;
}

.contenedorsocialmedia{
    display: flex;
    justify-content: center;
    background-color: rgb(215, 212, 212);
    border-top: 2px solid rgb(255, 255, 255);
}

.socialmedia{
    display: flex;
    justify-content: center;
}

.iconsocialmedia{
    width: 10px;
    height: 10px;
    padding: 10px;
}

@media only screen and (min-width: 600px){
    
    .logoencabezado{
        width: 70%;
    }

    /*BOTONERA*/
    li a, p.label a{
        font-size: 20px;
    }

    .menu li {
        height: 50px;
        padding-top: 2%;
    }
    
    /*PIE DE LA PÁGINA*/
    .icontarjetas{
        padding: 1% 1.6%;
    }

    .contenedorsocialmedia{
        padding-top: 1%;
    }

    .iconsocialmedia{
        width: 30px;
        height: 30px;
    }

}

